@media only screen and (max-width: 1024px){
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
h1 { font-size: 100px;}h2 { font-size: 75px;}h3 { font-size: 52px;}}

@media only screen and (min-width: 681px) and (max-width: 768px){
h1 { font-size: 100px;}h2 { font-size: 75px;}h3 { font-size: 52px;}}

@media only screen and (max-width: 680px){
h1 { font-size: 70px;}h2 { font-size: 51px;}h3 { font-size: 40px;}h4 { font-size: 28px;}}